.sidebarArea {
  flex-shrink: 0;

  width: 260px;
  position: fixed;
  background-color: #e4d9d9;
  top: 0px;
  z-index: 1058;
  height: 100vh;
  overflow-y: auto;
  width: $sidebarWidth;
  background-color: $sidebarColor;

  @include media-breakpoint-down(lg) {
    .sidebarArea {
      position: fixed;
      top: 0;
      height: calc(100vh - 4rem);
      overflow: auto;
      z-index: 1;
      margin-left: -$sidebarWidth;

      &.showSidebar {
        margin-left: 0px;
      }
    }
  }

  .sidenav-bg:hover {
    background-color: $gray-100;
    border-radius: $border-radius;
  }
}
/* For WebKit-based browsers (Chrome, Safari, etc.) */
.sidebarArea::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.sidebarArea::-webkit-scrollbar-thumb {
  background-color: #c1c0c0; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners of the thumb */
}

.sidebarArea::-webkit-scrollbar-thumb:hover {
  background-color: #a6a5a5; /* Color of the scrollbar thumb on hover */
}

.sidebarArea::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

/* For Firefox */
.sidebarArea {
  scrollbar-width: thin; /* Width of the scrollbar */
}

.sidebarArea::-webkit-scrollbar-thumb {
  background-color: #9d9a9a; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners of the thumb */
}

.sidebarArea::-webkit-scrollbar-thumb:hover {
  background-color: #bfb6b6; /* Color of the scrollbar thumb on hover */
}

.sidebarArea::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}